{% extends "halaman/base.html" %} {% load static %} {% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg'%} ')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="title">About Us</h1>
        <h4>Selamat datang di Beritakita, sumber informasi Anda untuk berbagai macam berita terkini dan terpercaya.</h4>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    {% comment %}
    <div class="about-description text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h5 class="description">
            This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add
            a button if you want the user to see more.
          </h5>
        </div>
      </div>
    </div>
    {% endcomment %}
    <div class="about-team team-1">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="title">Tentang Pendiri</h2>
          <h5 class="description">
            BeritaKita didirikan oleh kami, seorang jurnalis dan penulis yang berpengalaman dalam dunia media. Dengan latar belakang yang kuat dalam jurnalisme dan hasrat untuk menyebarkan informasi yang benar dan bermanfaat, kami bertekad
            untuk membuat BeritaKita menjadi sumber informasi yang dapat diandalkan oleh semua lapisan masyarakat.
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="{% static 'halaman/assets/img/faces/marc.jpg' %}" />
              </a>
            </div>

            <div class="card-content">
              <h4 class="card-title">Khairul Rasyid</h4>
              <h6 class="category text-muted">CEO / Co-Founder</h6>

              {% comment %}
              <p class="card-description">And I love you like Kanye loves Kanye. We need to restart the human foundation.</p>
              {% endcomment %}
              <div class="footer">
                <a href="https://github.com/khairul-rasyid" target="_blank" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-github"></i></a>
                <a href="https://www.facebook.com/" target="_blank" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/" target="_blank" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
