{% extends "halaman/base.html" %} {% load static %} {% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg'%} ')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Contact</h1>
        <h4>Kami di Beritakita sangat menghargai masukan, saran, dan pertanyaan dari Anda. Jangan ragu untuk menghubungi kami melalui formulir di bawah ini. Kami berkomitmen untuk merespons setiap pesan secepat mungkin.</h4>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="contact-content">
    <div class="container">
      <h2 class="title">Hubungi Kami</h2>
      <div class="container contact-section">
        <div class="row">
          <div class="col-md-6">
            <form>
              <div class="form-group">
                <label for="name">Nama</label>
                <input type="text" class="form-control" id="name" placeholder="Masukkan nama Anda" />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Masukkan email Anda" />
              </div>
              <div class="form-group">
                <label for="message">Pesan</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Tulis pesan Anda"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Kirim</button>
            </form>
          </div>
          <div class="col-md-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7979.362315223751!2d117.12991520757411!3d-0.47509490893200734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2df67f21b115fd67%3A0x108077d433712165!2sUniversitas%20Muhammadiyah%20Kalimantan%20Timur%20Samarinda!5e0!3m2!1sid!2sid!4v1718616011869!5m2!1sid!2sid"
              width="580"
              height="430"
              style="border: 0"
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %}
<div class="main main-raised mt-5">
  <div class="contact-content">
    <div class="container">
      <h2 class="title">Send us a message</h2>
      <div class="row">
        <div class="col-md col-md-12">
          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">pin_drop</i>
              </div>
              <div class="description">
                <h4 class="info-title">Find us at the office</h4>
                <p>
                  Bld Mihail Kogalniceanu, nr. 8,<br />
                  7652 Bucharest,<br />
                  Romania
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">phone</i>
              </div>
              <div class="description">
                <h4 class="info-title">Give us a ring</h4>
                <p>
                  Michael Jordan<br />
                  +40 762 321 762<br />
                  Mon - Fri, 8:00-22:00
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">business_center</i>
              </div>
              <div class="description">
                <h4 class="info-title">Legal Information</h4>
                <p>
                  Creative Tim Ltd.<br />
                  VAT &middot; EN2341241<br />
                  IBAN &middot; EN8732ENGB2300099123<br />
                  Bank &middot; Great Britain Bank
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %} {% endblock content %}
