<footer class="footer">
  <div class="container">
    <a class="footer-brand" href="#pablo">BeritaKita</a>

    <ul class="pull-center">
      <li>
        <a href="/"> Home </a>
      </li>
      <li>
        <a href="{% url "about" %}"> About </a>
      </li>
      <li>
        <a href="{% url "contact" %}"> Contact </a>
      </li>
    </ul>

    <ul class="social-buttons pull-right">
      <li>
        <a href="https://twitter.com" target="_blank" class="btn btn-just-icon btn-twitter btn-simple">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com" target="_blank" class="btn btn-just-icon btn-facebook btn-simple">
          <i class="fa fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-just-icon btn-instagram btn-simple">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
