{% load static %}
{% load auth_extras %}
<div class="sidebar-wrapper" id="sidebar-wrapper">
  <div class="user">
    <div class="photo">
      <img src="{% static 'dashboard/assets/img/james.jpg' %}" />
    </div>
    <div class="info">
      <a data-toggle="collapse" href="#collapseExample" class="collapsed">
        <span>
          {{user.username}}
          <b class="caret"></b>
        </span>
      </a>
      <div class="clearfix"></div>
      <div class="collapse" id="collapseExample">
        <ul class="nav">
          <li>
            <a href="#">
              <span class="sidebar-mini-icon">MP</span>
              <span class="sidebar-normal">My Profile</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="sidebar-mini-icon">EP</span>
              <span class="sidebar-normal">Edit Profile</span>
            </a>
          </li>
          <li>
            <a href="{% url "akun_logout" %}">
              <span class="sidebar-mini-icon">L</span>
              <span class="sidebar-normal">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="nav">
    <li class="active">
      <a href="{% url 'dashboard' %}">
        <i class="now-ui-icons design_app"></i>
        <p>Dashboard</p>
      </a>
    </li>
    {% if user|has_group:'Operator' %}
    <li>
      <a href="{% url 'kategori' %}">
        <i class="now-ui-icons objects_diamond"></i>
        <p>Kategori</p>
      </a>
    </li>
    {% endif %}
    <li>
      <a href="{% url 'artikel' %}">
        <i class="now-ui-icons business_chart-pie-36"></i>
        <p>Artikel</p>
      </a>
    </li>
    {% if user|has_group:'Operator' %}
    <li>
      <a href="#">
        <i class="now-ui-icons media-1_album"></i>
        <p>Pengguna</p>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
